@use "src/App";

.link {
  font-size: 3.6rem;
  color: App.$secondary-color;
  text-decoration: none;
  transition: ease-in-out .2s;
  border-bottom: 1px solid transparent;

  &:hover {
    color: App.$primary-color;
    border-color: App.$primary-color;
  }

  @media screen and (max-width: 1520px){
    font-size: 2.4rem;
  }

  @media screen and (max-width: 720px){
    font-size: 1.8rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
          "header-flex header-flex header-flex header-flex header-flex"
          "media-header media-header media-header media-header media-header"
          "github-card spotify-card discord-card instagram-card vk-card"
          "bot-header bot-header donation-header donation-header donation-header"
          "bot-container bot-container donation-container donation-container donation-container";
  grid-gap: 4rem;

  @media screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
}

.header-flex {
  grid-area: header-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.media-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.media-header {
  grid-area: media-header;
  justify-self: center;
}

.media-center {
  width: 100%;
  text-align: center;
}

.card {
  background: App.$background-gradient;
  border: 1px solid App.$tertiary-color;
  box-sizing: border-box;
  border-radius: 2.5rem;
  padding: 4rem;

  @media screen and (max-width: 1280px) {
    //flex-direction: row;
    //justify-content: start;
    //width: 100%;
    //gap: 0;
    padding: 2rem;
    border-radius: 2rem;

  //  a {
  //    width: 100%;
  //    text-align: center;
  //  }
  }
}

.social-icon {
  width: 60%;

  @media screen and (max-width: 1280px){
    width: 10%;
  }
}

.github-card {
  grid-area: github-card;
}

.spotify-card {
  grid-area: spotify-card;
}

.discord-card {
  grid-area: discord-card;
}

.instagram-card {
  grid-area: instagram-card;
}

.vk-card {
  grid-area: vk-card;
}

.bot-flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.bot-header {
  margin-top: 2rem;
  grid-area: bot-header;
  justify-self: center;

  @media screen and (max-width: 1280px) {
    margin: 0;
  }
}

.bot-container {
  grid-area: bot-container;
  //background: App.$background-gradient;
  //border: 1px solid App.$tertiary-color;
  //box-sizing: border-box;
  //border-radius: 2.5rem;
  //padding: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: stretch;

  @media screen and (max-width: 720px) {
    gap: 2rem;
  }
}

.bot-line {
  border: none;
  border-top: 2px solid App.$tertiary-color;
  color: App.$tertiary-color;
  border-radius: 90px;
  width: 100%;
}

.donation-flex-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.donation-header {
  margin-top: 2rem;
  grid-area: donation-header;
  justify-self: center;

  @media screen and (max-width: 1280px) {
    margin: 0;
  }
}

.donation-container {
  grid-area: donation-container;
  background: App.$background-gradient;
  border: 1px solid App.$tertiary-color;
  box-sizing: border-box;
  border-radius: 2.5rem;
  padding: 4rem;
  display: grid;
  justify-self: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
          "donation-info donation-tinkoff-container";
  align-items: center;
  gap: 4rem;
  width: 100%;

  @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
  }
}

.tinkoff-icon {
  margin-top: 2rem;
  width: 40%;
}

.donation-info {
  grid-area: donation-info;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    font-size: 2.4rem;
    color: App.$secondary-color;

    @media screen and (max-width: 1520px){
      font-size: 1.8rem;
    }
  }
}

.donation-tinkoff-container {
  grid-area: donation-tinkoff-container;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.donation-button {
  border: 2px solid App.$secondary-color;
  border-radius: 90px;
  padding: 2rem;
  transition: ease-in-out .2s;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.4rem;
  color: App.$primary-color;

  &:hover {
    background-color: rgba(App.$secondary-color, 60%);
  }

  @media screen and (max-width: 1520px){
    font-size: 1.8rem;
  }
}

.portfolio-header {
  margin-bottom: -2rem;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}