@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid_template {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "github resume"
    "portfolio portfolio"
    "portfolio portfolio"
    "about telegram"
    "about leetcode"
    "spotify spotify";
}

@media screen and (min-width: 1024px) {
  .grid_template {
    grid-template-areas:
      "github leetcode telegram"
      "portfolio portfolio resume"
      "portfolio portfolio about"
      "spotify spotify about";
  }
}

@media screen and (min-width: 1280px) {
  .grid_template {
    grid-template-areas:
      "github leetcode telegram about"
      "portfolio portfolio resume about"
      "portfolio portfolio spotify spotify";
  }
}
.github {
  grid-area: github;
}

.resume {
  grid-area: resume;
}

.telegram {
  grid-area: telegram;
}

.about {
  grid-area: about;
}

.portfolio {
  grid-area: portfolio;
}

.leetcode {
  grid-area: leetcode;
}

.spotify {
  grid-area: spotify;
}
