@use "../../App";

.social-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  font-size: 3.2rem;
  color: App.$secondary-color;
  text-decoration: none;

  transition: 0.3s all ease-in-out 0s;

  &:hover {
    color: App.$primary-color;
    border-color: App.$primary-color;
    box-shadow: rgba(App.$primary-color, .1) 0 0 5rem;
  }

  @media screen and (max-width: 1280px) {
    display: block;
    width: 100%;
    align-self: stretch;
    gap: 0;
    padding: 1rem 2rem;
    justify-content: start;
    border-radius: 2rem;

    font-size: 2.4rem;
  }
}

.social-container {
  text-align: center;
  width: 100%;
}

.social-icon-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
}

.social-icon {
  @media screen and (max-width: 1280px) {
    width: 2.4rem;
    height: min-content;
  }
}