@use "src/App";

.social-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  transition: .3s all ease-in-out 0s;
  font-size: 3.2rem;
  color: App.$secondary-color;
  text-decoration: none;

  &:hover {
    color: App.$primary-color;
    border-color: App.$primary-color;
    box-shadow: rgba(App.$primary-color, .1) 0 0 5rem;
  }

  @media screen and (max-width: 1280px) {
    padding: 2rem;
  }

  .mobile-icon {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 4rem;

    @media screen and (max-width: 580px) {
      width: 3.6rem;
    }

    @media screen and (max-width: 420px) {
      width: 2.4rem;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    height: 100%;

    .text-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 580px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 420px) {
        font-size: 1.6rem;
      }
    }

    img {
      width: .8*10rem;
    }
  }
}
