@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

$background-color: #101010;
$primary-color: #E3E3E3;
$secondary-color: #9f9f9f;
$tertiary-color: #282828;
$quaternary-color: #404040;
$background-gradient: linear-gradient(180deg, $tertiary-color 0%, $background-color 80%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: $background-color;
  color: $primary-color;
}

h1 {
  font-size: 7.2rem;

  @media screen and (max-width: 580px) {
    font-size: 5.6rem;
  }

  @media screen and (max-width: 420px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.8rem;

  @media screen and (max-width: 580px) {
    font-size: 3.2rem;
  }

  @media screen and (max-width: 420px) {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 3.2rem;

  @media screen and (max-width: 580px) {
    font-size: 2.4rem;
  }
}

.container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  @media screen and (max-width: 1280px) {
    max-width: 72rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  gap: 6rem;

  @media screen and (max-width: 420px) {
    margin: 0 3rem;
    gap: 3rem;
  }
}