@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

$background-color: #101010;
$primary-color: #E3E3E3;
$secondary-color: #9f9f9f;
$tertiary-color: #282828;
$quaternary-color: #404040;
$background-gradient: linear-gradient(180deg, $tertiary-color 0%, $background-color 80%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: $background-color;
  padding: 8rem 16rem;
  color: $primary-color;

  @media screen and (max-width: 1520px) {
    padding: 4rem 8rem;
  }

  @media screen and (max-width: 720px) {
    padding: 4rem 2rem;
  }
}

h1 {
  font-size: 7.2rem;

  @media screen and (max-width: 1520px){
    font-size: 6.4rem;
  }

  @media screen and (max-width: 720px){
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 4.8rem;

  @media screen and (max-width: 1520px){
    font-size: 3.6rem;
  }

  @media screen and (max-width: 720px){
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.6rem;

  @media screen and (max-width: 1520px){
    font-size: 2.4rem;
  }
}